<div class="footer">
    <p style="text-align: center">© Copyright 2019 <script type="text/javascript">
        document.write(new Date().getFullYear());</script>
       All rights reserved | This website is made by Janar Tomband and Andrei Gavrilov</p>
</div>
