<div class="container">    
    <div class="row border-between">
        <div class="col-md-5">
                <dt>Searched File: </span></dt>
                <dd>
                    <div *ngIf="post.file">
                        <a (click)="openFile(post.fileContentType, post.file)">
                            <img [src]="'data:' + post.fileContentType + ';base64,' + post.file" style="max-width: 100%;" alt="post image"/>
                        {{post.createdAt| date:'medium'}}</a>
                    </div>
                </dd>


            </div>
            
            <div class="col-md-6 ">

            <h2> Post #{{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                               <dd>
                    <span><h2>{{post.content}}</h2></span>
                </dd>
               

                <dt>Last modified</span></dt>
                <dd>
                    <span>{{post.updatedAt}}</span>
                </dd>
                <dt>Is Answered</span></dt>
                <dd>
                    <span>{{post.isAnswered}}</span>
                </dd>
                <dt>Is Nsfw</span></dt>
                <dd>
                    <span>{{post.isNsfw}}</span>
                </dd>
                <dt>Creator</span></dt>
                <dd>
                    {{post.user?.login}}
                </dd>
                <dt>Tags</span></dt>
                <dd>
                    <span *ngFor="let tag of post.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>
            <div style="vertical-align: bottom">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        
            <button type="button" *ngIf="can_edit"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>


            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" [routerLink]="['/comments','posts', post?.id,'new' ]">Submit</button>
                    </form>
                </div>
            </div>




        </div>
  
    </div>
    <div class="media mb-4" *ngFor="let comment of post.comments; let i = index">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{comment.user.login}}</h5>
                {{comment.content}}
            </div>
        </div>
</div>
