<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-post-heading" jhiTranslate="sourcedApp.post.home.createOrEditLabel">Create or edit a Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!post.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="post.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sourcedApp.post.content" for="field_content">Content</label>
                    <textarea  rows="5" class="form-control" name="content" id="field_content"
                        [(ngModel)]="post.content" required maxlength="500"></textarea>
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sourcedApp.post.file" for="field_file">File</label>
                    <div>
                        <img [src]="'data:' + post.fileContentType + ';base64,' + post.file" style="max-height: 100px;" *ngIf="post.file" alt="post image"/>
                        <div *ngIf="post.file" class="form-text text-danger clearfix">
                            <span class="pull-left">{{post.fileContentType}}, {{byteSize(post.file)}}</span>
                            <button type="button" (click)="clearInputImage('file', 'fileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file" (change)="setFileData($event, post, 'file', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                        [(ngModel)]="post.file" required maxbytes="10000000"/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                        [(ngModel)]="post.fileContentType" />
                    <div [hidden]="!(editForm.controls.file?.dirty && editForm.controls.file?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.file?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.file?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes" translateValues="{ max: 10000000 }">
                            This field cannot be more than 10000000.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sourcedApp.post.isNsfw" for="field_isNsfw">Is Nsfw</label>
                    <input type="checkbox" class="form-control" name="isNsfw" id="field_isNsfw"
                        [(ngModel)]="post.isNsfw" />
                    <div [hidden]="!(editForm.controls.isNsfw?.dirty && editForm.controls.isNsfw?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isNsfw?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label jhiTranslate="sourcedApp.post.tag" for="field_tag">Tag</label>
                    <select class="form-control" id="field_tag" multiple name="tag" [(ngModel)]="post.tags">
                        <option [ngValue]="getSelected(post.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
